h1, .h1 {
    font-size: 24px;
    line-height: 1.17;

    @include media-up(md) {
        font-size: 32px;
        line-height: 1.25;
    }
}

h2, .h2 {
    font-size: 20px;
    line-height: 1.2;

    @include media-up(md) {
        font-size: 24px;
        line-height: 1.17;
    }
}