.products {
    &__title {
        margin-bottom: 20px;
    }

    &-cats {
        display: flex;
        margin-bottom: 20px;

        @include media-up(lg) {
            margin: -6px -6px 34px;
            justify-content: center;
        }

        &__item {
            text-decoration: none;
            border-radius: 8px;
            padding: 10px 20px;
            display: block;
            background-color: $color-white;
            color: $color-main;
            transition: background-color 0.3s;
            margin-right: 12px;
            white-space: nowrap;

            &:last-child {
                margin-right: 0;
            }

            @include media-up(lg) {
                margin: 6px;

                &:last-child {
                    margin: 6px;
                }
            }

            &.active,
            &:hover {
                background-color: $color-ghost;
            }
        }
    }

    &-slider {
        overflow: visible;
    }
}