.seo {
    display: none;

    @include media-up(md) {
        display: block;
        padding: 40px 0;
    }

    &-list {
        max-width: 785px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        &__item {
            width: calc(100% / 3 - (40px / 3));
        }

        &__link {
            text-decoration: none;
            display: block;
            width: 100%;
            height: 0;
            overflow: hidden;
            padding-top: 132%;
            border-radius: 12px;
            position: relative;
            background-color: $color-ghost;
        }

        &__title {
            font-size: 15px;
            font-weight: bold;
            color: $color-main;
            padding: 16px 20px;
            position: absolute;
            top: 0;
            left: 0;

            @include media-up(lg) {
                font-size: 17px;
                padding: 24px;
            }
        }

        &__image {
            position: absolute;
            width: 100%;
            height: 80%;
            bottom: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }
}